# Ne pas ignorer README.md
!README.md
# Ignorer les fichiers main.c spécifiquement
*.exe
# Ignorer les fichiers de sauvegarde de l'éditeur
*~
*.bak
# Ignorer les fichiers de log générés par les tests ou le débogage
*.log
#ignore les fichiers .out
*.out
#Ignorer les fichiers sh générés par la commande de script de push/pull
*.sh